body{
	display: flex;
    flex-direction: column;
    background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

Groups{
	font-size: 40;
}
.btn {
	padding: 2em 10em 2em 10em;
}
