<!DOCTYPE HTML>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"  href="estilo.css" />

</head>
<body class="bg">
  <header>
  <div>
    <input type="image" id="user" alt="usuário" src="User.png" height="100" width="100">
  </div>
  <div>
    <img id="imgnome" src="Nome.png" height="150" width="500">
  </div>
  <div>
    <img id="logo" src="Logo.png" height="180" width="200">
  </div>
  </header>
  <div>
    <input type="image" id="grupodeestudos" src="grupodeestudos.png" height="90" width="350">
  </div>
  <div>
    <input type="image" id="listadeamigos" src="listadeamigos.png" height="90" width="350">
  </div>
  <div>
    <input type="image" id="configuracoes" src="configuracoes.png" height="90" width="350">
  </div>

</body>
</html>