<!DOCTYPE HTML>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
    <title>Propriedades de background em CSS - Linha de Código</title>
     <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css"  href="estilo.css" />
    <style>
        .left{
            display:inline-block;
        }

    </style>
</head>
<body class="bg">
    <header>
        <div>
          <input type="image" id="user" alt="usuário" src="seta.png" height="150" width="150">
        </div>
        <div>
          <img id="imgname" src="Nome.png" height="150" width="500">
        </div>
        <div>
          <img id="logo" src="Logo.png" height="180" width="200">
        </div>
        </header>
    <div>
        <img src="User.png" height="18%" width="18%"></img>
        <form action="submit">
    </div>
    <div>
        <text><h1 style="font-size:250%">Nome</text>
    </div>
    <div>
        <text><h1 style="font-size:150%">Curso: </text>
    </div>
    <div>
        <text><h1 style="font-size:150%">Período: </text>
    </div>
    <div>
        <text><h1 style="font-size:100%">*Status do Perfil*</text>
    </div>
</form>
</body>
</html>